
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/


# Environments
.env
venv/
.env.*
.venv/
.envrc

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Mac / Windows system files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
.dockerignore
docker-compose.override.yml
dockerfile

js-edition/node-modules/
# Jest test files
*.test.js
*.spec.js
*.test.ts
*.spec.ts
__tests__/
